<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>

    <ion-toolbar>
    <ion-title   class="titulo" >//</ion-title>
    </ion-toolbar>

    <ion-toolbar>
    <p class="center-text"> Acompanhe seu pedido<br> em tempo real.</p>
    </ion-toolbar>

    <ion-list>
           <ion-item lines="none">
        <ion-label position="floating">Pedido</ion-label>
        <ion-input aria-label="Email" type="Email"></ion-input>
        
      </ion-item>
      <ion-item lines="none">
        <ion-label position="floating">Itens</ion-label>
        <ion-input aria-label="ion-item" type=""></ion-input>
      </ion-item>
      <br>
     
<br><br>
    </ion-list>
    <ion-toolbar>
      <p>Total: R$</p>
      <img src="../../assets/logo.png" alt="Logo" class="logo">
    </ion-toolbar>
    <ion-toolbar>
      </ion-toolbar>
  </ion-header>
</ion-content>
<ion-toolbar>
  
</ion-toolbar>
