<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="containerprinc">
        <img src="../../assets/logo.png" class="imglogo" />
       
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<br><br>
  <ion-card class="container">
    <ion-card-header class="header">
      <ion-card-title class="title">Escolha seu hamburguer <span class="favorito"> favorito. </span></ion-card-title>

    </ion-card-header>
    <ion-card-content class="content">
           <div class="containerimg">
        <img src="../../assets/burguer.png" class="imageburguer" alt="Imagem" />
        <div class="text-container">
          <p class="text">“entrega rápida e funcionários simpáticos. O lanche chegou quente e muito saboroso!”</p>
        </div>
      </div>
      <div class="icons">
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-icon name="logo-whatsapp"></ion-icon>
      </div>
    </ion-card-content>
    </ion-card>

    <ion-content class="serv">
      <ion-title>
        <span class="favorito"> Serviços </span>
      </ion-title>

      <ion-title>
        Conheça nossos serviços
      </ion-title>
    </ion-content>
<ion-content>
    <ion-grid>
    <ion-row>
      <ion-col size="4">
        <img  class="imgservicos" src="../../assets/icone-pedido.svg" alt="Imagem 1">
        <ion-label>Fácil de pedir</ion-label>
        <ion-text>Você só precisa de alguns passos para pedir seu lanche. </ion-text>
      </ion-col>
      <ion-col size="4">
        <img class="imgservicos" src="../../assets/icone-delivery.svg" alt="Imagem 2">
        <ion-label>Entrega Rápida</ion-label>
        <ion-text>Nossa entrega é sempre pontual, rápida e segura. </ion-text>
      </ion-col>
      <ion-col size="4">
        <img class="imgservicos" src="../../assets/icone-qualidade.svg" alt="Imagem 3">
        <ion-label>Melhor Qualidade</ion-label>
        <ion-text>não só a rapidez na entrega, a qualidade também é o nosso forte. </ion-text>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<br><br>
<ion-content class="ion-text-center">
  <ion-button color="warning">Consulte nosso Cardápio</ion-button>
</ion-content>

<ion-footer>
 
</ion-footer>
